.preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  /* overflow: visible;  */
  background-image: url('../img/milky-way-1023340_1920.jpg');
  background-size: 100% auto;
}

body,
html {
  height: 100%;
  overflow:auto;
  
}

body {
  background: url('../img/milky-way-1023340_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.226)), url('../img/milky-way-1023340_1920.jpg') !important;
  background-repeat: no-repeat;
  margin: 0px;
}

/* Personal Space logo */
.circle-text {
  display: table-cell;
  height: 50px;
  /*change this and the width
  for the size of your initial circle*/
  width: 150px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*make it pretty*/
  background: #000;
  color: #fff;
  font-family: 'Codystar', cursive;
  /*change this
  for font-size and font-family*/
  border-style: solid;
  border-color: #fff;
  border-width: medium;
  font-size: 10px;
  text-transform: lowercase;
}

.navbar-dark .navbar-nav .nav-link{
  color: snow;
  font-size: x-large;
}
.nav-link:hover {
  color: #b93fd1b0 !important;
  transition: .1s ease;
}

a {
  margin:0px 0px 0px 20px;
  }


.jumbotron-fluid {
  background: inherit;
  border-width: 0px !important;
  background-repeat: repeat;
  
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 70px;
  margin-top: -40px;
  color: white;
}

.btn {
  font-weight: 500;
  border-width: medium;
  color: ghostwhite;
  border-color: #791f8be1;
  background-color:#791f8be1;
  
}

.btn:hover {
  background-color: #3c1444b0;
  border-color:  #3c1444b0;
}

#dailyquote {
  font-family: 'Lato', sans-serif;
  font-size: 16px
}

.jumbotron {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.164));

  /* background-image: inherit(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.header {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/milky-way-984050_1920.jpg'); */
  color: white;
  text-align: center;
}