
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
 
}
body, html {
  height: 100%;
}


.preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  background-image: url('../img/milky-way-984050_1920.jpg');
}


.hero {
  
  text-align: center; 
  /* color: white; */
  
  /* Background styles */
   background: radial-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url('../img/milky-way-984050_1920.jpg'); 
  background-size: cover;
  background-position: center center;
  background-repeat: space;
  background-attachment: fixed;
  height: 100%; 
  
}


.hero h1 {
  /* Text styles */
  font-size: 5em;
  
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  
  /* Border styles */
  border: 3px solid white;
  border-radius: 20px;
  
  /* Background styles */
  background-color: rgba(123, 98, 138, 0.589);

  
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}



a {
  text-decoration: purple;
  color: #d12df1e1;
  /* transition: .5s ease; */
  font-size: large;
  font-weight: bolder;
}

 a:hover {
  color: #b93fd1b0;
}

.form {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #4c0c58d7;
  color: #ffffff;
}
.tab-group .active a {
  background: #981ab1b0;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
  color: #ffffff;
}

h3{
  color: #ffffff;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden ;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #981ab1b0;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: ghostwhite;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: rgb(32, 31, 31);
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
  
}
::placeholder {
  color: lightgray;
  
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #981ab1b0;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #981ab1b0;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #4c0c58d7;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
