
body, html {
  height: 100%;
}

body {
  
  background: url('../img/milky-way-984050_1920.jpg');
}

.bg-dark {
  
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/milky-way-984050_1920.jpg') !important;
  background-repeat: no-repeat;
  margin:0px;
}
/* Personal Space logo */
.circle-text {
  display: table-cell;
  height: 50px; /*change this and the width
  for the size of your initial circle*/
  width: 170px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*make it pretty*/
  background: #000;
  color: #fff;
  font-family: 'Codystar', cursive; /*change this
  for font-size and font-family*/
  border-style: solid;
  border-color: #fff;
  border-width: medium;
  font-size: 15px;
  text-transform: lowercase;
  }

.jumbotron-fluid {
  background: url('../img/milky-way-984050_1920.jpg');
}



h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 70px;
  margin-top: -40px;
  color: white;
}

p{
  color: white;
}

#entryContent {
  /* This is needed in order to make line breaks typed into new text appear as new lines as opposed to just all mashing together. */
  white-space: pre-wrap;
}

#dailyquote {
  font-family: 'Lato', sans-serif;
  font-size: 16px
}

.hero-image {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/black-coffee-2847957_1920.jpg");

  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.black {
  color: black;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.brown {
  color: brown;
}

.pink {
  color: pink;
}

.contentDivider {
  border: 1px solid #555555;
  opacity: 0.5;
}

.selectedImage {
  border: 5px solid;
  border-color: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/milky-way-984050_1920.jpg'); */
  color: white;
  text-align: center;
}