
body, html {
  height: 100%;
}

body {
  
  background-image: radial-gradient( rgba(177, 168, 149, 0.582), 
   rgba(90, 87, 80, 0.493));
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 70px;
}

#entryContent {
  /* This is needed in order to make line breaks typed into new text appear as new lines as opposed to just all mashing together. */
  white-space: pre-wrap;
}

#dailyquote {
  font-family: 'Lato', sans-serif;
  font-size: 16px
}

.jumbotron {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/black-coffee-2847957_1920.jpg");

  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


